/* VARIABLES */

:root {
  --main-text-color: #fff;
  --main-bg-color: #014e56;
  --main-font-size: 15px;
  --main-font-weight: 600;
  --main-line-height: 25px;
  --main-font-family: "Livvic", "Arial", sans-serif;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-SemiBold.woff2") format("woff2"),
  url("../fonts/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Bold.woff2") format("woff2"),
  url("../fonts/Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}





/* stories section style start */

.stories {
  padding: 140px 0 151px 0;
  background-color: #004047;
  background-image: url("../images/deliver-bg-circle.svg"), url("../images/deliver-bg-rectangle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 660px) bottom, calc(50% - 686px) top;
  
}
.stories__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 932px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 92px;
  color: var(--main-text-color);
  
}
.stories__blue{
  color: #79C8C7;
}
.stories__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.stories__item {
  position: relative;
  width: 350px;
  margin-right: 30px;
}
.stories__item:nth-child(3) {
  margin-right: 0;
}
.stories__item::before{
  position: absolute;
  z-index: 0;
  top: -35px;
  left: 143px;
  width: 67px;
  height: 58px;
  background-image: url("../images/double-quote.svg");
  content: "";
}
.stories__item::after{
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-image: url("../images/kady.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.stories__item:nth-child(2):after{
  background-image: url("../images/aiysha.png");
  content: "";
}
.stories__item:last-child:after{
  background-image: url("../images/arthur.png");
  border-radius: 10px;
  content: "";
}

.stories__desc {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;  
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--main-text-color);  
}
.stories__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;  
  color: #79C8C7;
}
.stories__work {
  display: block;
  font-size: 13px;
  line-height: 18px; 
  text-align: center;  
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--main-text-color);
}

/* stories section style finish */
