/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root {
  --main-text-color: #fff;
  --main-bg-color: #014e56;
  --main-font-size: 15px;
  --main-font-weight: 600;
  --main-line-height: 25px;
  --main-font-family: "Livvic", "Arial", sans-serif;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-SemiBold.woff2") format("woff2"),
  url("../fonts/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Bold.woff2") format("woff2"),
  url("../fonts/Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.build {
  background-color: #012f34;
  padding-top: 198px;
  padding-bottom: 140px;
  background-image: url("..//images/build-bg-blue-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) calc(50% + 200px);
}
.build-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.build__info {
  margin-right: 120px;
}
.build__info::before{
  position: absolute;
  top: 120px;
  content: "";
  width: 50px;
  height: 4px;
  display: inline-block;
  background-color: #f67e7e;
}
.build__title {
  width: 445px;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--main-text-color);
}
.build__list {
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.build__item {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.build__item::before {
  content: "";
  width: 140px;
  height: 80px;
  display: inline-block;
  background-image: url("..//images/person.svg");
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
.build__item--second::before {
  background-image: url("..//images/settings.svg");
}
.build__item--third::before {
  background-image: url("..//images/productivity.svg  ");
}
.build__text {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}
.build__description {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}